@media print {
	@page {
		size: A4;
		margin: 20mm;
	}
}

body {
	width: 210mm;
	margin: 0;
	height: auto;
	overflow: visible;
	border: 1px solid black;
	font-size: 12px;
	padding: 3rem 4rem 3rem 4rem;
}
